.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #d2d2cb;
  border-bottom: 8px solid #d2d2cb;
  width: 80px;
  height: 80px;
    animation: spin 1.6s linear infinite;
margin-top: 3em;
   margin-bottom: 10em; 
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }