main{
    min-height: 80vh;
}

body{
 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



.example::-webkit-scrollbar {

}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  /* -ms-overflow-style: none;  /* IE and Edge */
  /* scrollbar-width: none;  Firefox */ 
}


::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
