main{
    min-height: 90vh;
}


body{
 
  font-family: 'Lato', sans-serif;
  padding: 0px;;
}



.example::-webkit-scrollbar {
   overflow: auto;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  /* -ms-overflow-style: none;  /* IE and Edge */
  /* scrollbar-width: none;  Firefox */ 
}


::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(62, 173, 207); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(62, 173, 207);
}

input[type=text]:focus{
 outline: none;
 border-bottom: 2px solid rgb(0, 204, 255);
 
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(62, 173, 207);
}

input[type=email]:focus{
 outline: none;
 border-bottom: 2px solid rgb(0, 204, 255);
}

input[type=password] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(62, 173, 207);
}


textarea{

  border: 2px solid rgb(62, 173, 207);
  width: 100%;
  margin-top: 1em;
}
textarea:focus{
  outline: none;
  border: 2px solid rgb(0, 204, 255);
}

input[type=password]:focus{
 outline: none;
 border-bottom: 2px solid rgb(0, 204, 255);
}

a{
  color:black;
  text-decoration: none;

}

input[type=number]{
 
  padding:0.4em;
  border: 2px solid rgb(62, 173, 207);
}

input[type=number]:focus{
  outline: none;
  border: 2px solid rgb(0, 204, 255);
}
a

a:hover{
  color:black;
  
}